<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdrx.gis.dao.basic.DictDetailPOMapper">
    <resultMap id="BaseResultMap" type="com.jdrx.gis.beans.entry.basic.DictDetailPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type_id" jdbcType="BIGINT" property="typeId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="val" jdbcType="VARCHAR" property="val"/>
        <result column="platform_code" jdbcType="VARCHAR" property="platformCode"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, type_id, name, val, platform_code, delete_flag, create_by, create_at, update_by,
    update_at
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dict_detail
        where delete_flag = false
        id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jun 18 15:10:27 CST 2019.
        -->
        delete from dict_detail
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.jdrx.gis.beans.entry.basic.DictDetailPO">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jun 18 15:10:27 CST 2019.
        -->
        insert into dict_detail (id, type_id, name,
        val, platform_code, delete_flag,
        create_by, create_at, update_by,
        update_at)
        values (#{id,jdbcType=BIGINT}, #{typeId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
        #{val,jdbcType=VARCHAR}, #{platformCode,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=BIT},
        #{createBy,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
        #{updateAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.jdrx.gis.beans.entry.basic.DictDetailPO">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jun 18 15:10:27 CST 2019.
        -->
        insert into dict_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="val != null">
                val,
            </if>
            <if test="platformCode != null">
                platform_code,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="val != null">
                #{val,jdbcType=VARCHAR},
            </if>
            <if test="platformCode != null">
                #{platformCode,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jdrx.gis.beans.entry.basic.DictDetailPO">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jun 18 15:10:27 CST 2019.
        -->
        update dict_detail
        <set>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="val != null">
                val = #{val,jdbcType=VARCHAR},
            </if>
            <if test="platformCode != null">
                platform_code = #{platformCode,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <choose>
                <when test="updateAt != null">
                    update_at = #{updateAt,jdbcType=TIMESTAMP},
                </when>
                <otherwise>
                    update_at = now(),
                </otherwise>
            </choose>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jdrx.gis.beans.entry.basic.DictDetailPO">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jun 18 15:10:27 CST 2019.
        -->
        update dict_detail
        set type_id = #{typeId,jdbcType=BIGINT},
        name = #{name,jdbcType=VARCHAR},
        val = #{val,jdbcType=VARCHAR},
        platform_code = #{platformCode,jdbcType=VARCHAR},
        delete_flag = #{deleteFlag,jdbcType=BIT},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_at = #{createAt,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_at = #{updateAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!-- 根据dict_type的val值查询dict_detail里面的配置值-->
    <select id="selectByVal" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from dict_detail where type_id = (
            select id from dict_type where val = #{val,jdbcType=VARCHAR},
            and delete_flag = false limit 1
        )
    </select>

    <!-- 根据ID逻辑删除类型数据 -->
    <update id="logicDeleteById" parameterType="java.lang.Long">
        update dict_detail
        set delete_flag = TRUE
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>