<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdrx.gis.dao.basic.GisDevTplAttrPOMapper">
    <resultMap id="BaseResultMap" type="com.jdrx.gis.beans.entry.basic.GisDevTplAttrPO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="tpl_id" jdbcType="BIGINT" property="tplId" />
        <result column="field_desc" jdbcType="VARCHAR" property="fieldDesc" />
        <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
        <result column="data_type" jdbcType="VARCHAR" property="dataType" />
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
        <result column="idx" jdbcType="SMALLINT" property="idx" />
        <result column="fill" jdbcType="BIT" property="fill" />
        <result column="edit" jdbcType="BIT" property="edit" />
    </resultMap>
    <sql id="Base_Column_List">
        id, tpl_id, field_desc, field_name, data_type, delete_flag, create_by, create_at,
        update_by, update_at, idx, fill,edit
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gis_dev_tpl_attr
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insert" parameterType="com.jdrx.gis.beans.entry.basic.GisDevTplAttrPO">
        insert into gis_dev_tpl_attr (id, tpl_id, field_desc,
          field_name, data_type, delete_flag,
          create_by, create_at, update_by,
          update_at, idx, fill,edit)
        values (#{id,jdbcType=BIGINT}, #{tplId,jdbcType=BIGINT}, #{fieldDesc,jdbcType=VARCHAR},
           #{fieldName,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=BIT},
           #{createBy,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
           #{updateAt,jdbcType=TIMESTAMP}, #{idx,jdbcType=SMALLINT}, #{fill,jdbcType=BIT},#{edit,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" parameterType="com.jdrx.gis.beans.entry.basic.GisDevTplAttrPO">
        insert into gis_dev_tpl_attr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tplId != null">
                tpl_id,
            </if>
            <if test="fieldDesc != null">
                field_desc,
            </if>
            <if test="fieldName != null">
                field_name,
            </if>
            <if test="dataType != null">
                data_type,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="idx != null">
                idx,
            </if>
            <if test="fill != null">
                fill,
            </if>
            <if test="edit != null">
                edit,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="tplId != null">
                #{tplId,jdbcType=BIGINT},
            </if>
            <if test="fieldDesc != null">
                #{fieldDesc,jdbcType=VARCHAR},
            </if>
            <if test="fieldName != null">
                #{fieldName,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="idx != null">
                #{idx,jdbcType=SMALLINT},
            </if>
            <if test="fill != null">
                #{fill,jdbcType=BIT},
            </if>
            <if test="edit != null">
                #{edit,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jdrx.gis.beans.entry.basic.GisDevTplAttrPO">
        update gis_dev_tpl_attr
        <set>
            <if test="tplId != null">
                tpl_id = #{tplId,jdbcType=BIGINT},
            </if>
            <if test="fieldDesc != null">
                field_desc = #{fieldDesc,jdbcType=VARCHAR},
            </if>
            <if test="fieldName != null">
                field_name = #{fieldName,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                data_type = #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="idx != null">
                idx = #{idx,jdbcType=SMALLINT},
            </if>
            <if test="fill != null">
                fill = #{fill,jdbcType=BIT},
            </if>
            <if test="edit != null">
                edit = #{edit,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jdrx.gis.beans.entry.basic.GisDevTplAttrPO">
        update gis_dev_tpl_attr
        set tpl_id = #{tplId,jdbcType=BIGINT},
            field_desc = #{fieldDesc,jdbcType=VARCHAR},
            field_name = #{fieldName,jdbcType=VARCHAR},
            data_type = #{dataType,jdbcType=VARCHAR},
            delete_flag = #{deleteFlag,jdbcType=BIT},
            create_by = #{createBy,jdbcType=VARCHAR},
            create_at = #{createAt,jdbcType=TIMESTAMP},
            update_by = #{updateBy,jdbcType=VARCHAR},
            update_at = #{updateAt,jdbcType=TIMESTAMP},
            idx = #{idx,jdbcType=SMALLINT},
            fill = #{fill,jdbcType=BIT},
            edit = #{edit,jdbcType=BIT}
        where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findTplAttrsByDevId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from gis_dev_tpl_attr
         where delete_flag = false
         and tpl_id =
         (
            select tpl_id from gis_dev_ext gdx
            where dev_id = #{devId,jdbcType=BIGINT}
            limit 1
         )
         order by idx
    </select>

    <select id="findAttrListByTypeId" parameterType="java.lang.Long" resultMap="BaseResultMap">
     select * FROM gis_dev_tpl_attr
            WHERE tpl_id = (
                select tpl_id from gis_tpl_type where type_id  = (
                select type_id FROM (
                    SELECT * FROM (
                        SELECT DISTINCT type_id FROM gis_tpl_type
                    ) att
                    WHERE EXISTS (
                        SELECT 1
                        FROM (
                            WITH RECURSIVE a AS (
                                    SELECT a.id, a.p_id
                                    FROM share_dev_type a
                                    WHERE del_flag = 0
                                        AND id = #{typeId}
                                    UNION ALL
                                    SELECT b.id, b.p_id
                                    FROM share_dev_type b, a
                                    WHERE b.id = a.p_id
                                )
                            SELECT * FROM a
                        ) bc
                        WHERE bc.id = att.type_id
                    )
                ) exi INNER JOIN (
                        SELECT *
                        FROM (
                            WITH RECURSIVE t (id, p_id, depth) AS (
                                    SELECT a.id, a.p_id, 1
                                    FROM share_dev_type a
                                    WHERE del_flag = 0
                                        AND id = #{typeId}
                                    UNION ALL
                                    SELECT b.id, b.p_id, c.DEPTH + 1
                                    FROM share_dev_type b, t c
                                    WHERE c.p_id = b.id
                                )
                            SELECT * FROM t
                        ) por
                    ) pathOrd
                    ON exi.type_id = pathOrd.id  ORDER BY depth desc
                LIMIT 1
			  )
            )
            and delete_flag = false
            order by idx asc
    </select>

    <select id="getCategoryCodeByDataType" parameterType="java.lang.String" resultType="java.lang.String">
        select typcategory from pg_catalog.pg_type where typname = #{dataType}
    </select>

    <insert id="batchInsertSelective" parameterType="java.util.List">
        insert into gis_dev_tpl_attr (tpl_id, field_desc, field_name,data_type, idx, create_at, create_by)
        values
        <foreach collection="tplAttrPOList" item="item" index="index" separator=",">
            (
                #{item.tplId,jdbcType=BIGINT},
                #{item.fieldDesc,jdbcType=VARCHAR},
                #{item.fieldName,jdbcType=VARCHAR},
                #{item.dataType,jdbcType=VARCHAR},
                #{item.idx,jdbcType=SMALLINT},
                #{item.createAt,jdbcType=TIMESTAMP},
                #{item.createBy,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectTypeIdDescMap" resultType="java.util.Map">
        SELECT tpl_id tplId,
               string_agg(field_desc,',') fieldDescArray
        FROM gis_dev_tpl_attr
        WHERE delete_flag = false
        GROUP BY type_id
    </select>

    <update id="delByTypeId" parameterType="java.lang.Long">
        UPDATE gis_dev_tpl_attr
        SET delete_flag = true
        WHERE tpl_id = #{typeId}
    </update>

    <select id="selectTplByTplName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from gis_dev_tpl_attr
         where delete_flag = false
         and tpl_id = (select id from gis_dev_tpl where name = #{tplName} limit 1)
    </select>
</mapper>