<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdrx.dao.basic.GISDevExtPOMapper">
    <resultMap id="BaseResultMap" type="com.jdrx.beans.entry.basic.GISDevExtPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="dev_id" jdbcType="BIGINT" property="devId"/>
        <result column="tpl_type_id" jdbcType="BIGINT" property="tplTypeId"/>
        <result column="data_info" jdbcType="OTHER" property="dataInfo"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, dev_id, tpl_type_id, data_info, delete_flag, create_by, create_at, update_by, update_at
  </sql>
    <select id="getDevExtByDevId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gis_dev_ext
        where id = #{devId,jdbcType=BIGINT}
        limit 1
    </select>

    <select id="findDevListByDevIds" resultMap="BaseResultMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from gis_dev_ext
        <where>
            delete_flag = FALSE
            <if test="devIds != null and devIds.size > 0">
                and dev_id in
                <foreach collection="devIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    
</mapper>