<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdrx.dao.basic.ShareDevTypePOMapper">
    <resultMap id="BaseResultMap" type="com.jdrx.beans.entry.basic.ShareDevTypePO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="val" jdbcType="VARCHAR" property="val"/>
        <result column="p_id" jdbcType="BIGINT" property="pId"/>
        <result column="platform_code" jdbcType="VARCHAR" property="platformCode"/>
        <result column="limb_leaf" jdbcType="SMALLINT" property="limbLeaf"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, val, p_id, platform_code, limb_leaf, delete_flag, create_by, create_at,
    update_by, update_at
    </sql>

    <select id="findAllDevType" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List" />
        from share_dev_type
        where delete_flag = false
    </select>

    <select id="selectByTypeId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT *  FROM
            (
                WITH RECURSIVE T ( ID, NAME, p_id, DEPTH ) AS (
                SELECT A .ID, A.NAME, A.p_id, 1
                FROM share_dev_type A
                WHERE delete_flag = false
                AND ID = #{id,jdbcType=BIGINT}
                UNION ALL
                SELECT b.ID, b.NAME, b.p_id, C.DEPTH + 1
                FROM share_dev_type b, T C
                WHERE C.ID = b.p_id
                ) SELECT *  FROM T
            ) AS rs
        WHERE DEPTH = 2
    </select>
</mapper>